@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-style: 'Andrea-Bellarosa';
  --font-standard: 'Editor-sNote-Regular';
}
@font-face {
  font-family: 'Andrea-Bellarosa';
  src: url('/fonts/Andrea-Bellarosa.ttf') format('truetype');
}
@font-face {
  font-family: 'Editor-sNote-Regular';
  src: url('/fonts/Editor-sNote-Regular.otf') format('truetype');
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, monospace;
}
span{
  font-family: var(--font-style);
  font-size: larger;
}
h1,h2,h3,h4,p,button,li,a{
  font-family: var(--font-standard);
}
.btn-all{
  width: 280px;
  height: 60px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(178deg, #e7e4d3 6.3%, #5b4e45 93.7%);
}
.about{
  background: #5B4E45;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: white;
}

.moving-heading {
  /* display: inline-block; */
  padding-left: 100%;
  animation: moveLeft 20s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.self{
  align-self: flex-end;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #423e3b;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(#fbfaf8,#f0eee6) ;
    width: 30px;
}
